.footer {
    height: 200px;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 10px;
    text-align: center;
    line-height: 200px;
    border-top: 2px solid white;
};

@media (min-width: '414px') and (max-width: '767px') {
    .footer {
        font-size: 18px;
        letter-spacing: 0;
        height: 80px;
        line-height: 80px;
    };
};

@media (min-width: '768px') and (max-width: '1024px') {
    .footer {
        font-size: 22px;
        letter-spacing: 5px;
        height: 120px;
        line-height: 120px;
    };
};