<div class="movie">
    <div class="movie-container" *ngIf="movie">
        <div class="movie-image">
            <ng-container *ngIf="movie.backdrop_path;else noPoster">
                <img nzDisablePreview="true" nz-image width="450px" height="350px" nzSrc="{{image_url+movie.backdrop_path}}" alt="" />
            </ng-container>
            <ng-template #noPoster>
                <img nzDisablePreview="true" nz-image width="450px" height="350px" nzSrc="{{image_url+movie.poster_path}}" alt="" />
            </ng-template>
        </div>
        <div class="movie-desc">
            <div class="movie-header">
                <p>{{movie.overview}}</p>
                <h2>{{movie.title || movie.original_title}}</h2>
            </div>
            <div class="movie-body">
                <div class="movie-body left">
                    <p>{{movie.media_type}}</p>
                    <p>{{movie.release_date}}</p>
                </div>
                <div class="movie-body right">
                    <i nz-icon nzType="like" nzTheme="outline"></i>
                    <p>{{movie.vote_count}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
